@model IEnumerable<PSWProjektZaliczeniowy.Model.Kategoria>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br/>

<div class="container">
    <h2>Wybierz kategorię</h2>
    <div class="list-group" style="cursor: pointer">
        @foreach (var k in Model)
        {
            <a href="#" onclick="$('#div_@k.KategoriaId').fadeToggle()" class="list-group-item active">
                @k.Nazwa <span class="badge">@k.Podkategoria.Count</span></a>
                <div id="div_@k.KategoriaId" style="display: none">
                        @foreach (var p in k.Podkategoria)
                        {
                                <a href="/Ogloszenia/Kategoria/@p.PodkategoriaId" class="list-group-item">
                                    @p.Nazwa
                                </a>
                        }
                </div>
        }
    </div>
</div>

<div class="container">
    <h2>Szukaj po nazwie:</h2>

    <div>
        <div class="form-group">
            <label for="text">Szukaj:</label>
            <input type="text" id="sekwencja" class="form-control" />
        </div>
        <div class="form-group">
            <button onclick="szukaj()" class="btn btn-default">Szukaj</button>
        </div>
    </div>
</div>       

    <script>
        function szukaj() {
            var inp = $('#sekwencja').val();
            location.href = '/Ogloszenia/Szukaj?text=' + inp;
        }
    </script>
