@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

<address>
    Konsulat, sektor 3A<br />
    Planeta 00-700, Układ Coruscant<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@localhost">admin@localhost</a><br />
</address>

<br/>
@if (User.IsInRole("User"))
{
    <a href="/Wiadomosc/Admin">Napisz w sprawie problemu do admina!</a>
}
