@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin panel</h1>

<div class="panel panel-group">
    <div class="panel-heading">
        <h2>Kategorie i podkategorie</h2>        
    </div>

    <div class="panel-body">
        <div><a href="/Admin/DodKat">Dodaj kategorię</a></div>
        <div><a href="/Admin/DodPodkat">Dodaj podkategorię</a></div>
    </div>
</div>

<div class="panel panel-group">
    <div class="panel panel-heading">
        <h2>Ogłoszenia</h2>
    </div>

    <div class="panel-body">
        <div>
          Usuń ogłoszenie po ID:  
        </div><br/>
        <input id="IdOgloszenia" type="text" class="form-control"/><br/>
        <button class="btn btn-info" onclick="usun()">Usuń</button>
    </div>
</div>

<div class="panel panel-group">
    <div class="panel-heading">
        <h2>Wiadomości</h2>
    </div>

    <div class="panel-body">
        <div>
            <a href="/User/MojeWiadomosci">Moje wiadomości</a>
        </div>
    </div>
</div>

<script>
    function usun() {
        var inp = $('#IdOgloszenia').val();
        location.href = '/Admin/UsunOgloszenie/' + inp;
    }
</script>